
.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.d-flex{
    display: flex;
}

.d-flex-row{
    flex-direction: row;
}

.d-flex-row{
    flex-direction: column;
}

.justify-content-between{
    justify-content: space-between;
}
