<footer class="p-4 bg-white md:p-8 lg:p-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      aria-label="Amazon Logo"
      routerLink="/"
      class="flex justify-center items-center text-2xl font-semibold text-gray-900"
    >
      <span class="self-center text-2xl font-bold whitespace-nowrap text-gray-900 tracking-tight">
        Bn<span class="text-yellow-500">Eshop</span>
      </span>
    </a>
    <p class="-mt-4 mb-4 text-gray-500">
      Envio para todo o mundo. Enviamos para mais de 100 países e regiões, diretamente para
sua casa.
    </p>
    <span class="text-sm text-gray-500 sm:text-center"
      >© 1997-2025 <a href="#" class="hover:underline">BnEshop™</a>. Todos os direitos
      reservados.</span
    >
  </div>
</footer>
